body{
  color: #40514E;

  margin: 0;
  text-align: center;
  /* font-family: sans-serif; */
  /* font-family: verdana, sans-serif; */
  font-family: 'Merriweather', serif;
  font-size: 100%;
}
p{
  line-height: 2;
}
h1{
  color: #66BFBF;
  font-size: 5.625rem;
  /* line-height: 2; */
  margin-top: : 50px auto 0 auto;
  margin-bottom: 0px;
  font-size: 90px; /*font-size: 562.5% or  *font-size: 5.625em*/
/* font-family: monospace; */
  font-family: 'Sacramento', cursive;
  /* border: solid; */
  /* width: 10%;
  margin: 0 auto 0 auto; */
  /* margin: 0 auto; it is same as above */
}
h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
hr{
  border: dotted #66BFBF 6px ;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.top-container{
  background-color: #ECF9FF;
  position: relative;
  padding-top: 100px;
}
.C{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.Python{
  width: 25%;
  float: right;
  margin-right: 30px;
}

/* .c-Description{
  clear: left;
}
.python-Description{
  clear: right;
} */
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.middle-container{
  margin: 100px 0;
}
.bottom-container{
background-color: #66BFBF;
padding: 50px 0 20px;
}
.top-cloud{
  position: absolute;
  right: 75px;
  top: 40px;

}
.bottom-cloud{
  position: absolute;
  left: 75px;
  bottom: 300px;
}
.pro{
    text-decoration-line: underline;
}
.middle-para{
width: 30%;
margin: auto
}
.contact-msg{
  width: 40% ;
  margin: 40px auto 60px;
}
.myButton {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-family: 'Montserrat', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.myButton:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
}
